==
<!-- 푸터 -->
<div class="footer">
    <div class="footer-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                    <span id="top" class="pull-right" style="padding: 10px 20px; margin-top: -13px; background-color: #007000; color: #ffffff; font-size: 14px; cursor:pointer;">TOP</span>
                    <p style="padding-top: 5px;"><a href="/policies/privacy">개인정보취급방침</a> &nbsp;&nbsp; | &nbsp;&nbsp; <a href="/policies/agreement">이용약관</a> &nbsp;&nbsp; | &nbsp;&nbsp; <a href="/policies/email">이메일 무단수집거부</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-3 footer-info">
                <img src="{{ 'assets/images/logo_bottom.png'|theme }}">
            </div>
            <div class="col-md-9 footer-info">
                <p>
                    상호명: 프리허그 한의원 | 대표: 박건 | 사업자등록번호: 502-91-82791 | 주소: 서울특별시 송파구 석촌동 158-2 보정빌딩 7층<br>
                    고객센터: 1661-8269 (예약전화) | 상담시간: 평일 오전 9시 ~ 오후 8시 / 토요일 오전 9시 ~ 오후 5시<br>
                    Copyright© 2012 by Freehugs Atopy. All Rights Reserved.
                </p>
            </div>
        </div>
    </div>
</div>